<!DOCTYPE html>
<html lang="fr-FR">
<%- include('../../include/head'); %>
<body>
<%current_menu='none'%>
<%-include('../../include/topmenu'); %>

<main class="container" role="main">
    <div class="row">
        <div class="col-md-12">
            <div class="row" id="infos">
                <span><h3 class="info" id="message"><%-t('identity:page.signon.information')%></h3></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">&nbsp</div>
        <div class="col-md-4">
            <form role="form" id="userform" name="userform" action="#">
                <div class="form-group">
                    <label for="editfirstname"><%-t('identity:field.firstname.title')%></label>
                    <input id="editfirstname" name="editfirstname" type="text" class="form-control"
                           placeholder="<%-t('identity:field.firstname.placeholder')%>"
                           data-toggle="tooltip" title="Firstname" required>
                </div>
                <div class="form-group">
                    <label for="editlastname"><%-t('identity:field.lastname.title')%></label>
                    <input id="editlastname" name="editlastname" type="text" class="form-control"
                           placeholder="<%-t('identity:field.lastname.placeholder')%>"
                           data-toggle="tooltip" title="Lastname%>" required>
                </div>
                <div class="form-group">
                    <label for="editemail"><%-t('identity:field.email.title')%></label>
                    <input id="editemail" name="editemail" type="email" class="form-control"
                           placeholder="<%-t('identity:field.lastname.placeholder')%>"
                           data-toggle="tooltip" title="Email" required>
                </div>
                <div class="form-group">
                    <label for="editpassword"><%-t('identity:field.password.title')%></label>
                    <input id="editpassword" name="editpassword" type="password" class="form-control"
                           placeholder="<%-t('identity:field.password.placeholder')%>" required>
                </div>
                <div class="form-group">
                    <label for="confirmationpassword"><%-t('identity:field.confirmation.title')%></label>
                    <input id="confirmationpassword" name="confirmationpassword" type="password" class="form-control"
                           placeholder="<%-t('identity:field.confirmation.placeholder')%>"
                           required>
                </div>
                <div style="text-align:center;">
                    <button type="submit" class="btn btn-default btn btn-highlight-1 btn-block" onclick="submitForm()">
                        <%-t('common:submit')%>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-4">&nbsp</div>
    </div>
    <hr>
</main> <!-- /container -->
<%-include('../../include/footer');%>
<%-include('../../include/displaydialog');%>
<%-include('./scripts'); %>
</body>
</html>